/*
    DEMO STYLE
*/

/* -----------------------------------mycode------------------ */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  .nav1 {
    position: fixed;
    top: 0;
  }
  body {
    position: relative;
    min-width: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  .side_bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #522da8;
    padding: 20px;
    z-index: 1;
    transition: 2s;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .a3 {
    outline: none;
    border: none;
    width: 0px;
    margin-top: -20px;
    background-color: #522da8;
    /* color:#fff; */
  }
  
  /* .btn {
    color: white;
    outline: none;
    border: none;
    background-color: #522da8;
    font-size: 24px;
    padding-left: 10px;
    /* margin-left: 30px; */
    /* margin-top: 60px; */
  /* } */
  /* .btn:hover {
    color: #522da8;
    background-color: aliceblue;
    height: 50px;
    width: 160px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
  }  */
  .side_bar .content .a1 {
    margin-left: 140px;
    font-size: 25px;
  }
  @media only screen and (max-width: 600px) {
    .side_bar {
      visibility: hidden;
    }
    .a3 {
      visibility: visible;
      margin-left: -150px;
    }
  }
  @media only screen and (min-width: 600px) {
    .a3 {
      visibility: hidden;
    }
  }
  .container {
    /* margin-left: 250px; */
    /* margin-top: 55px; */
    padding: 20px;
    /* background-color: greenyellow; */
  }
  h2 {
    margin-top: -30px;
    padding: 20px;
  }
  :root {
    --primary: #522da8;
    --secondary: #ffffff;
  }
  .div1 {
    background-color: #522da8;
    height: 450px;
    width: 300px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(
      to bottom right,
      #522da8,
      #fff,
      #522da8,
      #fff,
      #522da8,
      #fff,
      #522da8,
      #fff,
      #522da8,
      #fff,
      #522da8,
      #fff,
      #522da8
    );
  }
  .div2 {
    /* background-color: aqua; */
    padding: 30px;
  }
  .name {
    margin-left: 10px;
  }
  .username {
    margin-top: -53px;
    margin-left: 320px;
  }
  .email {
    margin-left: 10px;
  }
  .number {
    /* margin-left: 30px; */
    margin-top: -53px;
    margin-left: 320px;
  }
  .password {
    margin-left: 10px;
  }
  .cpass {
    /* margin-left: 30px; */
    margin-top: -53px;
    margin-left: 320px;
  }
  .gender {
    margin-left: 110px;
  }
  .name input {
    outline: none;
    border: none;
    border: 1px solid #522da8;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 6px;
  }
  .username input {
    outline: none;
    border: none;
    border: 1px solid #522da8;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 6px;
  }
  .email input {
    outline: none;
    border: none;
    border: 1px solid #522da8;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 6px;
  }
  .number input {
    outline: none;
    border: none;
    border: 1px solid #522da8;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 6px;
  }
  .password input {
    outline: none;
    border: none;
    border: 1px solid #522da8;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 6px;
  }
  .cpass input {
    outline: none;
    border: none;
    border: 1px solid #522da8;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 6px;
  }
  label {
    font-weight: bold;
  }
  .btn2 {
    height: 50px;
    width: 90%;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: #522da8;
    border-radius: 5px;
    color: #fff;
  }
  @media only screen and (max-width: 600px) {
    /* .container {
      display: none;
    } */
    .username {
      margin-top: -53px;
      margin-left: 230px;
    }
    .number {
      margin-top: -53px;
      margin-left: 230px;
    }
    .cpass {
      margin-top: -53px;
      margin-left: 230px;
    }
    .name input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 200px;
    }
    .username input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 200px;
    }
    .email input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 200px;
    }
    .password input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 200px;
    }
    .cpass input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 200px;
    }
    .number input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 200px;
    }
    .gender {
      margin-left: 30px;
    }
    .btn2 {
      margin-left: 25px;
      width: 80%;
    }
    h2 {
      margin-top: 30px;
    }
  }
  @media only screen and (min-width: 600px) {
    .container {
      /* margin-left: 300px; */
      margin-top: 40px;
      /* display: none; */
    }
  }
  @media only screen and (min-width: 900px) {
    .container {
      /* margin-left: 250px; */
      margin-top: 40px;
      /* display: none; */
    }
    .btn {
      outline: none;
      border: none;
    }
  }
  @media only screen and (min-width: 1000px) {
    .container {
      /* margin-left: 250px; */
      margin-top: 80px;
    }
  }
  @media only screen and (min-width: 991px) {
    .div2 {
      /* background-color: aqua; */
      padding: 30px;
    }
    .name {
      margin-left: 10px;
    }
    .username {
      margin-top: -53px;
      margin-left: 320px;
    }
    .email {
      margin-left: 10px;
    }
    .number {
      /* margin-left: 30px; */
      margin-top: -53px;
      margin-left: 320px;
    }
    .password {
      margin-left: 10px;
    }
    .cpass {
      /* margin-left: 30px; */
      margin-top: -53px;
      margin-left: 320px;
    }
    .gender {
      margin-left: 110px;
    }
    .name input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 250px;
      border-radius: 15px;
      padding: 6px;
    }
    .username input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 250px;
      border-radius: 15px;
      padding: 6px;
    }
    .email input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 250px;
      border-radius: 15px;
      padding: 6px;
    }
    .number input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 250px;
      border-radius: 15px;
      padding: 6px;
    }
    .password input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 250px;
      border-radius: 15px;
      padding: 6px;
    }
    .cpass input {
      outline: none;
      border: none;
      border: 1px solid #522da8;
      height: 30px;
      width: 250px;
      border-radius: 15px;
      padding: 6px;
    }
    .btn2 {
      height: 50px;
      width: 60%;
      margin-left: 20px;
      border: none;
      outline: none;
      background-color: #522da8;
      border-radius: 5px;
      color: #fff;
    }
  }
  @media only screen and (min-width: 1200px) {
    .btn2 {
      height: 50px;
      width: 80%;
      margin-left: 50px;
      border: none;
      outline: none;
      background-color: #522da8;
      border-radius: 5px;
      color: #fff;
    }
  }
  @media only screen and (max-width: 990px) and (min-width: 1200px) {
    h2 {
      text-align: center;
    }
  }
  

/* .................................................................................... */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}