@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff !important;
  font-family: "Raleway", sans-serif;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 3px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00176e;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f7ad0;
}

/* side bar */
.side-bar {
  background-color: #ffffff;
  box-shadow: 7px 0 60px rgb(0 0 0 / 5%);
}

.accordion-item {
  background-color: #fff;
  border: none !important;
}

.accordion-button {
  font-size: 0.5em !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 15px !important;
  border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #e7f1ff;
  box-shadow: none !important;
}

.accordion-button:focus {
  z-index: 3;
  border: none !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

.accordion-body {
  padding: 0.8rem !important;
}

.accordion-body ul {
  list-style-type: square;
  margin-bottom: 0.5rem !important;
}

.accordion-body li a {
  text-decoration: none;
  color: #00176e;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.6px;
}

/* main navbar */
.main-navbar {
  background-color: #fff;
  padding: 1%;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-navbar-user span {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.main-navbar-menu {
  text-align: right;
}

.main-navbar-menu ul {
  margin-bottom: 0;
}

.main-navbar-menu ul li {
  list-style-type: none;
  display: inline;
  margin-right: 2.5%;
}

.main-navbar-menu a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 2%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main-navbar-menu img {
  width: 25px;
  border-radius: 50%;
}

/* register form page */
.form-container {
  background-color: #dae2fc;
  border-radius: 0px;
  height: 90vh;
  padding: 0.6%;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.form-contents {
  height: 88vh;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-contents img {
  margin-top: 2.5%;
}

.form-ctrl-name span {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  margin-top: 10px;
  margin-bottom: 2%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.form-ctrl-name input {
  color: #00176e;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.form-ctrl-name .dropdown {
  color: #00176e;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.form-ctrl-name textarea {
  color: #00176e;
  height: 95px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  /* box-shadow: #110c2e26 0px 48px 100px 0px; */
  padding-left: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

form button {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  background-color: #00176e;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  box-shadow: 0 0.125rem 0.625rem rgb(63 106 216 / 40%),
    0 0.0625rem 0.125rem rgb(63 106 216 / 50%);
}

input::file-selector-button {
  cursor: pointer;
  background-color: #00176e;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 1% 4%;
  margin: 1% 1% 0% 0%;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.form-container .register {
  z-index: 0;
  height: 88vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.a3 {
  outline: none;
  border: none;
  width: 0px;
}

i {
  font-size: 20px;
  padding: 5px;
}
.view {
  background-color: #dae2fc;
  height: 400px;
  width: 20px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  /* align-items: ; */
  /* /* margin-left: 300px; */
}

@media (max-width: 576px) {
  .form-contents {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }
}
