@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 3px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00176e;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f7ad0;
}

/* side bar */
.side-bar {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.accordion-item {
  background-color: #fff;
  border: none !important;
}

.accordion-button {
  font-size: 0.5em !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 15px !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #e7f1ff;
  box-shadow: none !important;
}

.accordion-button:focus {
  z-index: 3;
  border: none !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

.accordion-body {
  padding: 0.8rem !important;
}

.accordion-body ul {
  list-style-type: square;
  margin-bottom: 0.5rem !important;
}

.accordion-body li a {
  text-decoration: none;
  color: #00176e;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.6px;
}

/* register form page */
.form-container {
  background-color: #dae2fc;
  border-radius: 8px;
  height: 90vh;
  padding: 0.6%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-contents {
  height: 88vh;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-contents img {
  margin-top: 2.5%;
}

.form-ctrl-name span {
  display: block;
  margin-top: 10px;
  margin-bottom: 2%;
}

.form-ctrl-name input {
  color: #00176e;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-left: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.form-ctrl-name .dropdown {
  color: #00176e;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-left: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-ctrl-name textarea {
  color: #00176e;
  height: 95px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: #110c2e26 0px 48px 100px 0px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

form button {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  background-color: #00176e;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

input::file-selector-button {
  cursor: pointer;
  background-color: #00176e;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 1% 4%;
  margin: 1% 1% 0% 0%;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 25px;
}
input[type="month"]::-webkit-calendar-picker-indicator {
  width: 25px;
}
.form-container .register {
  z-index: 0;
  height: 88vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.a3 {
  outline: none;
  border: none;
  width: 0px;
}

i {
  font-size: 30px;
  padding: 7px;
}
.view {
  background-color: #dae2fc;
  height: 400px;
  width: 20px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  /* align-items: ; */
  /* /* margin-left: 300px; */
}
@media (max-width: 576px) {
  .form-contents {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }
  /* .form-container .bar {
    height: 500px;
  }
  .nav1 {
    visibility: hidden;
  } */
}
