@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa !important;
  font-family: "Raleway", sans-serif;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: auto;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #00176e;
  height: auto;
  width: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f7ad0;
}

/* side bar */
.side-bar {
  background-color: #ffffff;
  box-shadow: 7px 0 60px rgb(0 0 0 / 5%);
}

.accordion-item {
  background-color: #fff;
  border: none !important;
}

.accordion-button {
  font-size: 0.5em !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 15px !important;
  border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #e7f1ff;
  box-shadow: none !important;
}

.accordion-button:focus {
  z-index: 3;
  border: none !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

.accordion-body {
  padding: 0.8rem !important;
}

.accordion-body ul {
  list-style-type: square;
  margin-bottom: 0.5rem !important;
}

.accordion-body li a {
  text-decoration: none;
  color: #00176e;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.6px;
}

/* main navbar */
.main-navbar {
  background-color: #fff;
  padding: 1%;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-navbar-user span {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.main-navbar-menu {
  text-align: right;
}

.main-navbar-menu ul {
  margin-bottom: 0;
}

.main-navbar-menu ul li {
  list-style-type: none;
  display: inline;
  margin-right: 2.5%;
}

.main-navbar-menu a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 2%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main-navbar-menu img {
  width: 25px;
  border-radius: 50%;
}

/* register form page */
.form-container {
  background-color: #dae2fc;
  border-radius: 0px;
  height: 90vh;
  padding: 0.6%;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.form-contents {
  height: 88vh;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-contents img {
  margin-top: 2.5%;
}

.form-ctrl-name span {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  margin-top: 10px;
  margin-bottom: 2%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.form-ctrl-name input {
  color: #00176e;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.form-ctrl-name .dropdown {
  color: #00176e;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.form-ctrl-name textarea {
  color: #00176e;
  height: 95px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  /* box-shadow: #110c2e26 0px 48px 100px 0px; */
  padding-left: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

form .formbutton1 {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  background-color: #00176e;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  box-shadow: 0 0.125rem 0.625rem rgb(63 106 216 / 40%),
    0 0.0625rem 0.125rem rgb(63 106 216 / 50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::file-selector-button {
  cursor: pointer;
  background-color: #00176e;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 1% 4%;
  margin: 1% 1% 0% 0%;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.form-container .register {
  z-index: 0;
  height: 88vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.a3 {
  outline: none;
  border: none;
  width: 0px;
}

i {
  font-size: 20px;
  padding: 5px;
}
.view {
  background-color: #dae2fc;
  height: 400px;
  width: 20px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.main-navbar button {
  visibility: hidden;
}
@media (max-width: 991px) {
  .main-navbar button {
    visibility: visible;
  }
}

@media (max-width: 576px) {
  .form-contents {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }
}

/*---------------------------------- view page style------------------------------------*/

.form-ctrl-name .input1 {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  border-radius: 0px;
  height: 30px;
  padding: 10px;
  color: #333;
}

.form-ctrl-name .input2 {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  height: 30px;
  border-radius: 0px;
  padding: 10px;
  color: #333;
}

.form-ctrl-name .input3 {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  position: relative;
  display: block;
  border-bottom: 2px solid gray;
  outline: none;
  height: 90px;
  border-radius: 0px;
  padding: 10px;
  color: #333;
}

.form-container1 {
  background-color: #fff;
  border-radius: 0px;
  z-index: 0;
  height: 88vh;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 0.6%;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.displayImage {
  border: 2px solid gray;
  height: 200px;
  width: 200px;
}
/* ---------------------------------------Dashboard-------------------------------------- */
.box1 {
  background-color: #fff;
  height: 150px;
  width: auto;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box2 {
  background-color: #fff;
  height: 150px;
  width: auto;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box3 {
  background-color: #fff;
  height: 150px;
  width: auto;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box4 {
  background-color: #fff;
  height: 300px;
  width: auto;
  min-height: 50px;
  position: relative;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box5 {
  background-color: #fff;
  height: 300px;
  width: auto;
  border-radius: 10px;
  position: relative;
  min-width: auto;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box6 {
  background-color: #fff;
  height: 300px;
  width: auto;
  border-radius: 8px;
  min-height: 50;
  position: relative;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.total {
  display: block;
  font-weight: 600 !important;
  font-size: larger;
}
.headingName0 {
  font-weight: 600 !important;
  letter-spacing: 0.5px;
  position: fixed;
  top: 260px;
  font-size: 15px;
  color: #6c757d;
  text-transform: uppercase !important;
}
.headingName {
  font-weight: 600 !important;
  /* line-height: 1.5; */
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #6c757d;
  text-transform: uppercase !important;
}
.headingName1 {
  font-size: 14px;
  display: block;
  letter-spacing: 0.5px;
  font-weight: 400 !important;
  color: #6c757d;
  font-family: "Raleway", sans-serif !important;
}
.headingName2 {
  margin-top: 10px;
  font-size: 14px;
  position: absolute;
  right: 15px;
  letter-spacing: 0.5px;
  font-weight: 400 !important;
  color: #6c757d;
  font-family: "Raleway", sans-serif !important;
}
.box1 i {
  color: #fff;
  right: 15px;
  position: absolute;
  line-height: 1.5;
  font-size: 25px;
  background-image: linear-gradient(310deg, #5e72e4, #825ee4);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2 i {
  color: #fff;
  right: 15px;
  position: absolute;
  line-height: 1.5;
  font-size: 25px;
  background-image: linear-gradient(310deg, #fb6340, #fbb140);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box3 i {
  color: #fff;
  right: 15px;
  position: absolute;
  line-height: 1.5;
  font-size: 25px;
  background-color: #2ecc71;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box5 i {
  color: #fff;
  left: 15px;
  position: absolute;
  line-height: 1.5;
  font-size: 15px;
  /* background-image: linear-gradient(310deg,#fb6340,#fbb140); */

  /* background-color: #f39c12; */
  height: 40px;
  width: 40px;
  border-radius: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box span {
  margin-left: 60px;
}
table tr {
  border: none;
  border-bottom: 1px solid grey;
}
thead,
th {
  /* border-bottom: none !important; */
  text-transform: uppercase;
}

.selectFilter {
  height: 2em;
  width: 30%;
  outline: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 450;
}

.filterImage {
  display: block;
  text-align: center;
}

.filterImage p{
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .8em;
  font-weight: 500;
}

.filterName,
.filterCourse,
.filterDate {
  display: none;
}


.filterName span{
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}

.filterName input{
  width: 50%;
  padding: .8%;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.filterName button{
  background-color: green;
  color: #fff;
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3px;
  margin-top: -1%;
  padding: 6.5px 20px;
}

.filterName :last-child{
  margin-left: 25%;
}
